doctype html
html(lang="en")
  include includes/head.pug
  body.min-h-screen.bg-gray-100.py-6.flex.flex-col.justify-center
    #container.relative.px-4.py-10.bg-white.shadow-lg.max-w-xl.mx-auto.rounded
      h1.pb-6.text-base.leading-6.font-bold.text-xl Cerbos Auth0
      p.pb-4.text-sm This is a demo application integrating Cerbos and Auth0. The two demo accounts below exist in a sandbox Auth0 account, and each user has a role assigned to it.
      p.pb-6.text-sm Once logged in, the authentication data returned from Auth0 about the user is used to construct the request to Cerbos to make authorization decisions.
      p.text-lg.leading-6.font-bold.mb-2 Demo Credentials
      div.flex
        ul.pr-4
          li <b>Auth0 Role:</b> User
          li <b>Email:</b> demo-user@cerbos.cloud
          li <b>Password:</b> <code>Cerbos123!</code>
        ul.pl-4
          li <b>Auth0 Role:</b> Admin
          li <b>Email:</b> demo-admin@cerbos.cloud
          li <b>Password:</b> <code>Cerbos123!</code>
      div.pt-5
        a.block.rounded.bg-blue-500.p-2.text-center.text-white.shadow-lg(href="/login") Login
      div.pt-5.text-sm
        p.pb-2 You can find the policy <a class="underline" href="https://play.cerbos.dev/p/g561543292ospj7w0zOrFx7H5DzhmLu2">here</a> and the code for this example on <a class="underline" href="https://github.com/cerbos/express-auth0-cerbos">Github</a>
        p More information, examples and documentation can be found on <a class="underline" href="https://cerbos.dev">cerbos.dev</a>
